<template>
	<div class="animated fadeIn">
		<div class="row justify-content-md-center" v-if="!isLoading">
			<div class="col-md-7">
				<div class="card" >
					<h5 class="card-header">Create Response</h5>
					<div class="card-body">
					 	<div class="text-right" style="margin:8px;">
							<router-link :to="{name: 'Response List'}" class="btn btn-secondary btn-md">Back to List</router-link>
						</div>
						 <form enctype="multipart/form-data" @submit.prevent="saveResponse()" >
							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="drawings_paye">Are you taking Drawings or Paye?</label>
											<select class="form-control" id="drawings_paye" v-model= "form.drawings_paye" required="required">
												<option value="" selected>Select One</option>
												<option value="Drawings/ Shareholder salary (i.e none paye income)">Drawings/ Shareholder salary (i.e none paye income)</option>
												<option value="PAYE">PAYE</option>
												<option value="Combination of Drawings/ Shareholder salary (i.e none paye income) and PAYE">Combination of Drawings/ Shareholder salary (i.e none paye income) and PAYE</option>
											</select>
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="been_in_business">Been in business in more than 3 years?</label>
										<select class="form-control" id="been_in_business" v-model= "form.been_in_business" required="required">
												<option value="" selected>Select One</option>
												<option value='Yes'>Yes</option>
												<option value='No'>No</option>
											</select>
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="years">How many years?</label>
										<input type="text" class="form-control" id="years" v-model="form.years" required="required"> 
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="job_type">Working full time?</label>
											<select class="form-control" id="job_type" v-model= "form.job_type" required="required">
												<option value="" selected>Select One</option>
												<option value='Full Time'>Full time</option>
												<option value='Part Time'>Part Time</option>
											</select>
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="staff_count">How many staff do you have working for you?</label>
										<input type="text" class="form-control" id="staff_count" v-model="form.staff_count" required="required">
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="on_tools">Now, Are you on tools?</label>
										<input type="text" class="form-control" id="on_tools" v-model="form.on_tools" required="required">
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="shareholders_director_on_tools">Is there any other shareholders/ director that are not on the tools?</label>
										<input type="text" class="form-control" id="shareholders_director_on_tools" v-model="form.shareholders_director_on_tools" required="required">
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="income">How much income did you take out last year from the business?</label>
										<input type="text" class="form-control" id="staff_count" v-model="form.income" required="required">
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="payment_frequency">Payment Frequency</label>
											<select class="form-control" id="payment_frequency" v-model= "form.payment_frequency" required="required">
												<option value="" selected>Select One</option>
												 <option value='Weekly'>Weekly</option>
												 <option value='Fornightly'>Fornightly</option>
												 <option value='Monthly'>Monthly</option>
												 <option value='Annually'>Annually</option>
											</select>
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="acc_cover_plan">What ACC cover plan do you have?</label>
											<select class="form-control" id="acc_cover_plan" v-model= "form.acc_cover_plan" required="required">
												<option value="" selected>Select One</option>
												<option value='ACC Cover Plus/ Work Place Cover'>ACC Cover Plus/ Work Place Cover</option>
												<option value='ACC Cover Plus Extra'>ACC Cover Plus Extra</option>
											</select>
									</div>
								</div>
							</div>

							<div class="row justify-content-md-center">
								<div class="col-md-10">
									<div class="form-group">
										<label for="cover_plus_extra_cover_amount">Your nominated Cover Plus Extra cover amount</label>
										<input type="text" class="form-control" id="cover_plus_extra_cover_amount" v-model="form.cover_plus_extra_cover_amount" required="required">
									</div>
								</div>
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-md">Submit</button>
								<router-link :to="{name: 'Response List'}" class="btn btn-secondary btn-md">Cancel</router-link>
							</div>
							
						 </form>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>

import Form from '../../helper/form.js';
import Vue from 'vue'

export default {
	components: {
	
	},

	data () {
		return {
			isLoading:false,
			form:new Form({
				drawings_paye :'',
				been_in_business :'',
				years :'',
				job_type :'',
				staff_count :'',
				on_tools :'',
				shareholders_director_on_tools :'',
				income :'',
				payment_frequency :'',
				acc_cover_plan :'',
				cover_plus_extra_cover_amount :'',
			}),

			moreParams: {}
		}
	},

	mounted: function(){
	 
	},
	created()
	{
		this.isLoading = false;
	},

	methods: {

		saveResponse()
		{
			swal({
	            title: "Warning",
	            text: "Are you sure you want submit response?",
	            icon: "warning",
	            buttons: true,
	            dangerMode: true,
	          })
	          .then((response) => {

	            if(response)
	            {
		            this.form.post('api/responses').then(response=>{
					 	this.$router.push({name: 'Response List'});
					}).catch( e => {
					 console.log(e);
					});
	            }
	        });
			
		}

		},
		events: {

		}
	}
</script>

<style>
.card
{
	margin-top: 24px;
	margin-bottom: 24px;
}

.card-header
{
	text-align: center;
}

</style>
