<template>
  <div class="animated fadeIn"> <!-- DONT REMOVE THIS DIV -->

    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <h5 class="card-header">Responses</h5>
            
            <div class="text-right" style="margin:8px;">
               <router-link :to="{name: 'create'}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Response</router-link>
            </div>
          

          <div class="card-body">
            <vuetable ref="vuetable" api-url="/api/responses"
              :fields="fields"
              pagination-path=""
              :css="css"
              :sort-order="sortOrder"
              :multi-sort="true"
              detail-row-component="my-detail-row"
              :append-params="moreParams"
              @vuetable:cell-clicked="onCellClicked"
              @vuetable:pagination-data="onPaginationData">

                <!-- Template for edit and delete button in action column -->
                <template slot="actions" slot-scope="props">
                  <div class="table-button-container">
                    <div class="custom-actions">
                       <router-link :to="{path: '/show-response/'+props.rowData.id}" class="btn btn-primary" ><i class="fa fa-eye"></i></router-link>
                      <router-link :to="{path: '/edit-response/'+props.rowData.id}" class="btn btn-secondary" ><i class="fa fa-pencil"></i></router-link>
                      <button type="button" class="btn btn-danger"  @click='deleteResponse(props.rowData.id)'><i class="fa fa-trash"></i></button>
                    </div>
                  </div>
                </template>

            </vuetable>

            <div class="vuetable-pagination">
              <vuetable-pagination-info ref="paginationInfo"
                info-class="pagination-info"
              ></vuetable-pagination-info>
              <vuetable-pagination ref="pagination"
                :css="css.pagination"
                @vuetable-pagination:change-page="onChangePage"
              ></vuetable-pagination>
            </div>
          </div>




        </div> <!-- end of card -->

      
      </div> <!-- end of col-md-12 -->
    </div>
  </div>
</template>

<script>

import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import moment from 'moment'

export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
  },
  mounted: function(){

  },
  data () {
    return {
   
      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        {
          title:'id',
          name: 'id',
        },
        {
          title:'Date Created',
          name: 'created_at',
          callback: 'formatDate|MMMM DD, YYYY',
        },
        {
          title:'Last Date Modified',
          name: 'updated_at',
          callback: 'formatDate|MMMM DD, YYYY',
        },
        {
          title:'Action',
          name: '__slot:actions'
        },
        
      ],

      css: {

        tableClass: 'ui blue selectable celled stackable attached table',
        loadingClass: 'loading',
        ascendingIcon: 'pull-left glyphicon glyphicon-chevron-up',
        descendingIcon: 'pull-left glyphicon glyphicon-chevron-down',

        pagination: {
          wrapperClass: 'pagination pull-right',
          activeClass: 'btn-primary',
          disabledClass: 'disabled',
          pageClass: 'btn btn-border',
          linkClass: 'btn btn-border',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          }
        }
      },

      sortOrder: [
        { field: 'id', sortField: 'id', direction: 'desc'}
      ],
      moreParams: {}
    }
  },
  methods: {
    formatDate: function(value, fmt) {
        return moment(String(value)).format('LLL')
    },

    deleteResponse(id)
    {
      swal({
            title: "Warning",
            text: "Are you sure you want delete?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((response) => {

            if(response)
            {
              axios.delete('api/responses/'+id).then(response => {
                swal({
                  icon: "success",
                  text: "Deleted Successfully",
                   timer: 1500,
                   button: {
                    text: "Okay",
                  },
                });
                this.$refs.vuetable.refresh();
            });
            }
        });
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },

    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    onCellClicked (data, field, event) {
      // console.log('cellClicked: ', field.name)
      // this.$refs.vuetable.toggleDetailRow(data.id)
    },
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.sort-icon {
    float: left !important;
    padding-right: 10px;
    margin-top: 4px;
    color:#dd4b39;
}

.header {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

</style>
