<template>
  <div class="container">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<style>
   /* .fade-enter-active, .fade-leave-active {
      transition: opacity .9s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }*/
</style>

